.account{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deposit-container {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

#last-score {
  margin: 0;
  padding: 0;
}

#last-score::after {
  content: "";
  display: block;
  clear: both;
}

#last-score ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#last-score li {
  float: left;
  padding: 0;
  width: 14.2%;
}

.score {
  background-color: #FFF;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px auto;
}

.score p {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 7px;
  font-weight: bold;
  color: #FFF;
}

.score.black {background-color: #111;}
.score.red {background-color: #D43939;}
.score.green {background-color: #27AE60;}

#bet-controler {
  margin: 0;
  padding: 0;
}

.input-controler {
  background-color: #111111;
  color: #FFFFFF;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #111111;
  padding: 10px 15px;
  font-size: 16px;
  outline: none;
}

.input-controler:focus {
  border-color: #000;
}

.bet-button {
  background-color: #111;
  margin: 0;
    margin-top: 10px;
  padding: 0;
}

.color-button {
  margin-top: 10px;
}

.button.bet {
  color: #FFF;
  font-size: 18px;
  background-color: #111;
  width: 13.64%;
  margin: 0;
  border: none;
  padding: 10px;
  outline: none;
}

.button.bet:hover {
  background-color: #000;
}

.button.color {
  width: 32.76%;
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  outline: none;
}

.button.color.black {background-color: #111;}
.button.color.green {background-color: #27AE60;}
.button.color.red {background-color: #D43939;}

.button.color.black:hover {background-color: #000;}
.button.color.green:hover {background-color: #169D50;}
.button.color.red:hover {background-color: #C32828;}